DEV_PROJECT_KEY=
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=
DATABASE_URL=sqlite:///db.sqlite3
CUSTOMER_SERVICE_URL=
CATALOG_SERVICE_URL=
ORDER_DISPATCH_URLS=
SMTP_HOST=localhost
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_USE_TLS=True
