asgiref==3.12.1
attrs==26.1.0
click==8.4.2
cssbeautifier==2.0.3
Django==6.1
django-environ==0.14.0
djangorestframework==3.18.0
djhtml==3.0.11
djlint==1.44.1
drf-spectacular==0.30.0
drf-spectacular-sidecar==2026.8.1
EditorConfig==0.17.1
inflection==0.5.1
jsbeautifier==2.0.3
json5==0.15.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
pathspec==1.1.1
PyYAML==6.0.3
referencing==0.37.0
regex==2026.7.19
rpds-py==2026.6.3
ruff==0.16.2
sqlparse==0.5.5
uritemplate==4.2.0
